---
import Section from "./Section.astro";
---

<Section 
    title="Experimente tesla" 
    subtitle="Programe una demostración de manejo hoy"
    color="white"
>
    <button slot="footer">
        <a href="#" 
            class="border-2 border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium px-6 py-2 text-white 
            hover:bg-white transition hover:text-black">
            Prueba de conducción
        </a>
    </button>
    <video
        slot="background" 
        class="object-center object-cover h-full  w-full" 
        autoplay 
        muted 
        loop 
        src="/video.webm">
    </video>

</Section>