<section 
    class="landing-section bg-black h-screen w-full text-center overflow-auto relative"
    data-header-color="black";
>
    <div class="z-30 relative h-full flex flex-col">

        <header>	
            <h2 class="text-black pt-40 text-[40px] font-medium">
                Modelo S
            </h2>
            <p class="text-black text-sm">
                Tartán
            </p>
        </header>

        <footer class="flex flex-col flex-grow justify-end pb-20">
            <button class="gap-x-4 flex mx-auto">
                <a href="#" 
                    class="border-2 border-gray-600 bg-gray-600 text-sm rounded font-medium px-12 py-2 text-white 
                    transition hover:bg-black  hover:text-white inline-block hover:border-black">
                    Order Now
                </a>
                <a href="#" 
                    class="border-2 border-white bg-white backdrop-blur-sm text-sm rounded font-medium px-12 py-2 text-black 
                    transition hover:bg-white/5 hover:text-white inline-block">
                    Demo Drive
                </a>
            </button>
        </footer>

    </div>

    <div class="absolute top-0 bottom-0 h-full w-full z-10">	
        <img 
            src="/model-s.avif"
            alt="Model S"
            class=" h-full w-full object-cover object-center"
        />
    </div>
    
</section>