---
import Section from "./Section.astro";
---

<Section 
    title="Modelo S" 
    subtitle="Tartá"
    color="black"
>
    <button slot="footer" class="gap-x-4 flex mx-auto">
        <a href="#" 
            class="border-2 border-gray-600 bg-gray-600 text-sm rounded font-medium px-12 py-2 text-white 
            transition hover:bg-black  hover:text-white inline-block hover:border-black">
            Order Now
        </a>
        <a href="#" 
            class="border-2 border-white bg-white backdrop-blur-sm text-sm rounded font-medium px-12 py-2 text-black 
            transition hover:bg-white/5 hover:text-white inline-block">
            Demo Drive
        </a>
    </button>
    <img
        slot="background" 
        src="/model-s.avif"
        alt="Model S"
        class=" h-full w-full object-cover object-center"
    />
</Section>